.btnSmall {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: none;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border-radius: 10px;
  background-color: #F6B510;
  color: #000;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btnSmallIcon {
  width: 16px;
  height: auto;
}

.btnSmall--danger {
  background-color: #DE6528;
}

.btnSmall--success {
  background-color: #28a745;
}

.btnSmall:hover {
  filter: brightness(0.95);
}
