.card {
  display: flex;
  flex-direction: column;   
  justify-content: space-between; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);    
  max-width: 360px;
  min-width: 340px;
  width: 90%;
}
.cardLarge {
  display: flex;
  flex-direction: column;   
  justify-content: space-between; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);    
  max-width: 560px;
  min-width: 340px;
  width: 90%;
}

.description {
  background-color: #EDEFF0;
  display: flex;
  flex-direction: column;
  align-items: center;        
  justify-content: space-around;
  gap: 20px;
  padding: 20px 10px;
  color: #362702;
}

.paragraph {
  text-align: center;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  background-color: #F6B510;
  text-decoration: none;
}

.btn:hover {
  background-color: #d39b0e;
}

.btnImg {
  width: 25px;
  height: auto;
}

.btnText {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
}

.btnSmall {
  padding: 8px 16px;
  background-color: #1a1a1a;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
}

.btnSmall:hover {
  background-color: #333;
}


.cardContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardImage {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .cardContent {
    flex-direction: row;
    align-items: stretch;
  }

  .cardContent >  .cardImage {
    width: 50%;
    height: auto;
    min-height: 100%;
  }

  .cardContent > .description {
    width: 50%;
  }
}

.cardGraphic {
  width: 96%;
  margin: 20px auto;
  background-color: #EDEFF0;  
  
}

.graphicContainer {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}