@import '../../index.css';

.alarmInfo {
  padding: 1rem;
}

.error {
  color: red;
  text-align: center;
  padding: 1rem;
}

.noData {
  text-align: center;
  padding: 2rem;
  color: #666;
}

.tableContainer {
  margin-top: 1rem;
}


.chartContainer {
  margin: 2rem 0;
  width: 90%;
}

/* Estilos para los botones de canales */
.channelButtons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}