@import '../../index.css';

.alarmInfo {
  padding: 1rem;
}

.error {
  color: red;
  text-align: center;
  padding: 1rem;
}

.noData {
  text-align: center;
  padding: 2rem;
  color: #666;
}

.tableContainer {
  margin-top: 1rem;
  width: 80%;
}


.chartContainer {
  width: 100%;
  max-width: 1000px;
  height: 600px; /* O el alto que prefieras */
  min-height: 300px; 
  position: relative; /* Ayuda a ResponsiveContainer a calcular mejor */
}

/* Estilos para los botones de canales */
.channelButtons {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.separator {
  height: 1px;
  background-color: #ccc;
  margin: 2rem 0;
  width: 80%;
}